html {
  box-sizing: border-box;
}

*, 
*::before, 
*::after { 
  box-sizing: inherit;
}

body {
  background-color: cornflowerblue;
  margin: 0;
  font-family: sans-serif;
}

nav {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 0 15px;
  margin: 20px 20px 0;
}

button {
  background-color: #ed3895;
  color: white;
  padding: 0 25px;
  height: 50px;
  font-size: 14px;
  font-weight: bold;
  border: none;
}

main {
  display: flex;
  flex-wrap: row;
  flex-flow: wrap;
  padding: 0 50px 50px 50px;
  background-color: white;
}

h3 {
  margin: 0;
  padding: 50px 60px 20px;
  font-size: 20px;
}

main > div {
  width: 560px;
  background-color: blue;
  color: white;
  font-size: 26px;
  font-weight: bold;
  margin: 0;
  padding: 40px;
}

main p {
  margin: 0;
}

nav > div {
  display: flex;
  font-size: 12px;
  gap: 20px;
  font-weight: bold;
}

nav > img {
  height: 60px;
}

section > img {
  width: 1242px;
}

.short-tile {
  width: 560px;
  height: 400px;
  border: 1px solid black;
}

.tile {
  width: 560px;
  height: 560px;
  border: 1px solid black;
}

#hotel-edc {
  color: #c9347a;
}

#more {
  color: #b3b3b3
}

#subnav {
  background-color: white;
  font-size: 35px;
  font-weight: bold;
  padding: 50px 60px;
}

#sponsor-section {
  background-color: #F1F1F1;
  margin: 0;
}

#sponsors {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  align-items: center;
  padding: 0 100px;
}

#sponsors > p {
  width: 150px;
  height: 74px;
  font-weight: 900;
}